@use '../../../styles/variables' as v;
.project-card-container {
  opacity: 0;
  display: flex;
  gap: 20px;
  width: 90%;
  height: 78vh;
  padding: 1.3rem;
  margin-bottom: 3rem;
  border: 1px solid v.$primary;
  border-radius: 15px;
  background-color: v.$gray-border;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  .project-card-substance {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 100%;
    img {
      width: 100%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 0 1px rgba(255, 138, 0, 0.1),
        0 0 2px rgba(229, 46, 113, 0.1);
    }
  }
  .project-card-form {
    width: 50%;
    height: 100%;
    font-family: v.$main-title-font;
    color: v.$text;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .project-card-form--title {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
    }
    .project-card-form--description {
      width: 90%;
      text-align: justify;
      line-height: normal;
      max-height: 50%;
      overflow-y: auto;
      font-family: v.$main-title-font;
      // font-weight: 300;
      color: v.$dark-paragraph;
      line-height: 1.2;
      font-size: 1.2rem;
      .strong_presentation {
        color: v.$secondary-title;
      }
    }
    .project-link-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 35px;
      .project-link-list--a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.2rem;
        transition: transform 0.2s;
      }
      .project-link-list--a:hover {
        transform: scale(1.2);
      }
    }
  }
}
.visible {
  opacity: 1;
}
@media (max-width: 768px) {
  .project-card-container {
    flex-direction: column-reverse;
    gap: 20px;
    width: 90%;
    height: fit-content;
    padding: 1rem;
    border-radius: 15px;
    .project-card-substance {
      height: 50%;
      width: 100%;
    }
    .project-card-form {
      height: 50%;
      width: 100%;

      .project-card-form--title {
        font-size: 1.7rem;
      }
      .project-card-form--description {
        width: 100%;
        padding: 0;
        margin: 2rem 0;
      }
      .project-link-list {
        .project-link-list--a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
