@use '../../styles/variables' as v;
.main-title-section {
  margin: 3rem;
  font-size: 3rem;
  font-weight: 700;
  color: v.$text;
}
.presentation-section {
  overflow-x: hidden;
  width: 100vw;
  background-color: v.$secondary;
  // padding: 0 v.$paddings-side;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about_container {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid v.$text;
    .about_container-card {
      font-family: v.$main-title-font;
      text-align: justify;
      max-width: 30%;
      h3 {
        text-align: center;
        color: v.$secondary-title;
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.5rem;
        color: v.$dark-paragraph;
      }
    }
    // ANIMATIONS
    // .past-elem {
    //   transform: translateX(-100%);
    //   opacity: 0;
    //   transition: transform 0.5s ease-out, opacity 0.4s ease-out;
    // }
    // .past-elem.active {
    //   transform: translateX(0);
    //   opacity: 1;
    // }
    // .future-elem {
    //   transform: translateX(100%);
    //   opacity: 0;
    //   transition: transform 0.5s ease-out, opacity 0.4s ease-out;
    // }
    // .future-elem.active {
    //   transform: translateX(0);
    //   opacity: 1;
    // }
  }
}

@media (max-width: 768px) {
  .main-title-section {
    font-size: 2.3rem;
    text-align: center;
  }
  .presentation-section {
    // padding: 0 v.$paddings-side-mobile;
    .about_container {
      flex-direction: column;
      .about_container-card {
        max-width: 100%;
      }
    }
  }
}
