// Couleurs
$background: #1c1c1c;
$footer-bg: #161616;
$footer-dark: #000;
$container-bg: #ffffff0a;

$primary: #e95420;
$secondary-title: #ff8a00;
$text: #f9f9f9;
$background: #1c1c1c;
$secondary: #2e2e2e;
$gray-border: #3e3e3e;
$gray-border-hover: #505050;
$gray-menu-button: #7e7e7e;
$gray-menu-button-hover: #232323;
$navbar-height: 4rem;
$gray-text-hover: #8f8f8f;
$gray-icon: #a0a0a0;

$dark-paragraph: #e0e0e0;

// Fonts

$main-title-font: 'Raleway', system-ui;

// espacement

$paddings-side: 4rem;
$paddings-side-mobile: 1.5rem;
