@use '../../styles/variables' as v;
.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .skills-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    .skills-container-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
      padding: 0.5rem;
      .skills-techno-list {
        width: 100px;
        color: v.$text;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        backdrop-filter: blur(40px);
        border-radius: 10px;
        background-color: #ffffff0a;
        .skills-techno-logo-container {
          padding: 0.5rem;
          border-radius: 10px;
          background-color: #f0db4f26;
          margin-bottom: 0.5rem;
          // width: fit-content;
          svg {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}

.skills-title {
  color: v.$text;
  border-bottom: 1px solid v.$text;
}
