@use '../../styles/variables' as v;
.modal {
  margin-top: v.$navbar-height;
  transition: top 0.9s;
  background-color: paleturquoise;
  height: 100vh;
  position: fixed;
  top: -110vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
}

.navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-mobile-list a {
  font-size: 5rem;
  font-weight: 800;
  color: #1e2337;
  padding: 2rem;
}

.change-modal {
  top: 0vh;
}
