// main.scss
@use '../../styles/variables' as v;

.header {
  width: 100vw;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
  height: v.$navbar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  // border-radius: 20px;
  position: fixed;
  top: 0;
  // background-color: v.$background;
  background-color: rgba(
    28,
    28,
    28,
    0.8
  ); // Couleur #1c1c1c convertie en rgba avec transparence
  backdrop-filter: blur(10px); // Applique le flou
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
}
.header--scrolled {
  border-bottom: 1px solid v.$gray-border;
}

.menu__wrapper {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  max-width: 60rem;
  padding: 0px 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.menu__bar {
  display: flex;
  align-items: center;
}

.menu__bar-title {
  font-weight: 800;
  font-size: 1.2rem;
  color: v.$text;
  margin-left: 1rem;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
  border-radius: 50px;
}

.navigation {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
  background: transparent;
}

.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  min-height: 2.25rem;
}

.navigation > li > a {
  color: v.$text;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.navigation > li > a:hover {
  color: v.$primary;
}

.navigation > li > button {
  color: v.$text;
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: -0.25rem;
  align-items: center;
  min-height: 2.25rem;
  font-size: 14px;
  gap: 0.25rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: nowrap;
  padding: 0.25rem 0.7rem;
  white-space: nowrap;
  background: none;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.navigation > li > button > svg {
  margin-top: 2px;
  fill: v.$text;
  transition: all 0.2s ease-in-out;
}

.navigation > li:hover > button svg {
  fill: v.$primary;
  transform: rotate(0.5turn);
}

.navigation > li:hover > button {
  color: v.$primary;
}

.navigation > li:hover .dropdown {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* dropdown menu */
.dropdown__wrapper {
  position: absolute;
  top: 0;
  left: -25vw;
  padding-top: 5rem;
}

.dropdown {
  border-radius: 0.5rem;
  display: none;
  padding: 0.5rem;
  width: 100%;
  //max-width: 800px;
  border: 1px solid v.$gray-border;
  z-index: 99;
  animation: fadeIn 0.2s ease-in-out;
  background-color: v.$secondary;
  overflow: hidden;
}

.list-items-with-description {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0.75rem;
}

.list-items-with-description li a {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 0.3rem;
}

.list-items-with-description li:hover {
  background: v.$gray-border-hover;
  border-radius: 5px;
}

.icon-wrapper svg {
  color: v.$gray-text-hover;
}

.list-items-with-description li:hover svg {
  color: v.$text;
}

.list-items-with-description li .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  pointer-events: all;
  background: v.$gray-menu-button-hover;
}

.item-title {
  gap: 0.5rem;
}

.item-title h3 {
  font-weight: 500;
  font-size: 14px;
  color: v.$text;
}

.list-items-with-description li:hover .item-title p {
  color: v.$gray-text-hover;
}

.item-title p {
  font-size: 12px;
  white-space: nowrap;
  color: v.$gray-menu-button;
}

.burger-menu {
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }

  .header {
    width: 100vw;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    pointer-events: all;
  }

  .burger-menu:hover {
    background: v.$gray-menu-button-hover;
  }

  .burger-menu:hover {
    outline: 1px solid v.$primary;
  }

  .burger-menu svg {
    height: 1.5rem;
    stroke: v.$gray-menu-button;
    width: 1.5rem;
  }

  .menu__wrapper {
    justify-content: space-between;
  }
}
