@use '../../styles/variables' as v;

footer {
  position: relative;
  display: flex !important;
  justify-content: center;
  // background-color: v.$footer-dark;
  width: 100vw;
  .footer-text-paragraph {
    position: absolute;
    bottom: 1rem;
    color: v.$dark-paragraph;
    text-align: center;
    padding: 0 2rem;
  }
  .back-to-top {
    color: v.$text;
    position: absolute;
    right: 2rem;
    bottom: 7rem;
    cursor: pointer;
  }
  .back-to-top:hover {
    animation: rotate 0.5s ease-in-out;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@media (max-width: 768px) {
  footer {
    height: 150px;
    .animate-footer-wave {
      display: none;
    }
    .back-to-top {
      bottom: 4rem;
    }
  }
}
